<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dependency Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Dependency Report</h1>
<h2>Report Generated: <%= new Date().toLocaleString() %></h2>
<table>
    <thead>
    <tr>
        <th>Dependency</th>
        <th>Stars</th>
        <th>Open Issues</th>
        <th>Last Updated</th>
        <th>License</th>
        <th>GitHub</th>
        <th>NPM</th>
    </tr>
    </thead>
    <tbody>
    <% for (const dependency in report) { %>
        <tr>
            <td><%= dependency %></td>
            <td><%= report[dependency].stars %></td>
            <td><%= report[dependency].issues %></td>
            <td><%= new Date(report[dependency].updated).toLocaleString() %></td>
            <td><%= report[dependency].license %></td>
            <td><a href="<%= report[dependency].homepage %>" target="_blank">GitHub</a></td>
            <td><a href="<%= report[dependency].npmUrl %>" target="_blank">NPM</a></td>
        </tr>
    <% } %>
    </tbody>
</table>
<h2>Packages with potentially risky licenses:</h2>
<% if (Object.keys(packagesWithRiskyLicenses).length > 0) { %>
    <table>
        <thead>
        <tr>
            <th>Dependency</th>
        </tr>
        </thead>
        <tbody>
        <% for (const dependency in packagesWithRiskyLicenses) { %>
            <tr>
                <td><%= dependency %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } else { %>
    <p>No packages with potentially risky licenses found.</p>
<% } %>
</body>
</html>
